*.o
*.hi
*~
dist/
dist-newstyle/
.ghc.environment*
cabal.project.local
cabal-dev/
.hsenv
TAGS
tags
*.tag
*.elc
src/main/Main
src/main/TestGenerate
.stack-work
stack.yaml.lock
.cabal-sandbox/
cabal.sandbox.config
